@using lesson6_MVC.Controllers
@model List<ShowelViewModel>;


@foreach (var m in Model) {
	<div style="display:block">
		Showel #@m.Id of type "@m.Type" has lengh of @(m.HandleLength)cm
		<a href="@Url.Action(nameof(ShowelController.Details), new {id = m.Id})"> view </a>
		<a href="@Url.Action(nameof(ShowelController.Edit), new {id = m.Id})>"> edit </a>
		<a href="@Url.Action(nameof(ShowelController.Delete), new {id = m.Id})"> delete </a>
	</div>
}


<div style="display:block">
	<a href="@Url.Action(nameof(ShowelController.Create))"> Create </a>
</div>